@import "tailwindcss";

@theme {
  --color-electro-yellow: #FFEA00;
  --color-electro-yellow-dark: #D4C300;
  --color-frio-blue: #00E5FF;
  --color-frio-blue-dark: #00B2C7;
}

@layer utilities {
}

body {
  margin: 0;
  /* Tailwind will handle bg-color via classes, but we can set defaults */
  @apply bg-gray-50 text-gray-900 transition-colors duration-500;
}

.dark body {
  @apply bg-slate-900 text-slate-100;
}
